
.middle-contents{
    margin: 40px auto;
    max-width: 65rem;

}

.middle-div{
    border-bottom: 5px navy solid;
    margin: 10px 0;
}

.heading{
    font-weight: bolder;
    font-size: large;
     color: #262967;
}


.description{
    font-size: small;
    padding: 10px 0;
    /* height: fit-content; */
}