.footer-card{
    display: flex;
    width: 100%;
    padding: 2rem 0;
    /* align-items: center; */
    /* background: red;  */
    margin: 0 2px;
}

.footer-icon{
    font-size: 1.5rem;
    color: #e62d2d;
    
}
.footer-card-body{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
.footer-title{
    color: #e62d2d;
    font-weight: 600;

}
.footer-decs{
    text-decoration: none;
    padding: .2rem 0;
    font-size: .8rem;
    color: rgb(225, 225, 225);
    
}
@media screen and (min-width: 660px) {
    .footer-card{
        justify-content: center;
    }
    .footer-card-container > :nth-child(2) {
        border-left: rgba(114, 114, 114, 0.526) solid 2px ;
        border-right: rgba(114, 114, 114, 0.526) solid 2px ;
      }
      
    
  }