.wellwishers-container {
  background-color: #fff;
  padding: 4rem 0;
}

.WellWishers {
  padding: 1rem 0rem;
  text-align: center;
  color: red;
  
}

.reviews-heading {
  padding-bottom: 1rem;
  font-size: 24px;
  text-align: center;
  color: red;
}

.hero--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quoteIcon {
  fill: red;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapperimg {
  border-radius: 100%;
  height: 100px !important;
  width: 100px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PartnerSwiper-Container{
  background-color: #f3f6fa;
  padding: 3rem 0;
}
.PartnerSwiper{
  margin: auto;
  width: 90%;
}
.slidewrapper {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  justify-content: center;
  align-items: center;
}

.parentwrapper {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.para {
  flex: 0.8;
  text-align: left;
}
.wisher-secHeading{
  color: red;
}
.SwiperHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: red;
}

.imagePartners {
  padding-top: 5rem;
}

.secHeading {
  color: black;
  font-size: small;
  font-weight: bold;
}

/* For very small mobile devices  */

@media screen and (max-width: 320px) and (min-width: 0px) {

  .reviews--heading {
    font-size: 16px;
  }

  .parentwrapper {
    flex-direction: column;
  }

  .para {
    text-align: center;
    font-size: 0.66em;
    height: 40vw;
  }

  .wrapperimg {
    height: 60px !important;
    width: 60px !important;
  }
}

/* For Most of the Smartphones  */

@media screen and (max-width: 480px) and (min-width: 320px) {
  .mySwiper2 {
    height: 30vh;
    width: 40rem;
  }

  .reviews--heading {
    font-size: 18px;
  }

  .parentwrapper {
    flex-direction: column;
  }

  .para {
    text-align: center;
    font-size: 0.66em;
  }

  .wrapperimg {
    border-radius: 100%;
    height: 75px !important;
    width: 75px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

/* For low resolution Tablets  */

@media screen and (max-width: 768px) and (min-width: 480px) {
  .mySwiper2 {
    height: 30vh;
    width: 24rem;
  }

  .reviews--heading {
    font-size: 24px;
  }

  .parentwrapper {
    flex-direction: column;
  }

  .para {
    text-align: center;
    font-size: 0.8em;
  }

  .wrapperimg {
    border-radius: 100%;
    height: 85px !important;
    width: 85px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* For Tablets/Ipad  */

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .mySwiper2 {
    height: 30vh;
    width: 65rem;
  }

  .reviews--heading {
    font-size: 18px;
  }

  .parentwrapper {
    flex-direction: column;
  }

  .para {
    text-align: center;
    font-size: 1em;
  }

  .wrapperimg {
    border-radius: 100%;
    height: 93px !important;
    width: 93px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}