*{
  font-family: "Poppins", sans-serif;
}

#root {
    overflow: hidden;
  }
  
.typewriter {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
  }
  
    
  
  .Box {
    width: 150px;
    height: 150px;
    background-color: #1363df;
    animation: spin 1s linear infinite, move 1s forwards linear 1s;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #06283d;
    overflow: hidden;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg) scale(0.2);
    }
    to {
      transform: rotate(360deg) scale(1);
      border-radius: 100%;
    }
  }
  @keyframes move {
    100% {
      transform: scale(20);
      background-color: #06283d;
    }
  }
  

  
.pointer {
  cursor: pointer;
}
  
  

.nav-ignore{
  padding-bottom: 65px;
}
